@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Merriweather:wght@300;400;700&display=swap');
$font-family-sans-serif:'Merriweather';
$headings-font-family:'Cabin';
$input-group-addon-border-color:rgba(255, 255, 255, 0);
$navbar-nav-link-padding-x:1.5rem;
$secondary:rgb(235, 231, 231);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
//   xxl: 1320px
);
.pht-img{
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0px 0px 5px rgb(59, 53, 53);
  margin-left: -5px;
}
.pht-img:first-child{
  margin: 0px
}
.clamp {
 white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;}
  .bg-login{
    background-image: radial-gradient(circle at 15% 59%, rgba(101, 101, 101,0.04) 0%, rgba(101, 101, 101,0.04) 50%,rgba(44, 44, 44,0.04) 50%, rgba(44, 44, 44,0.04) 100%),radial-gradient(circle at 47% 11%, rgba(240, 240, 240,0.04) 0%, rgba(240, 240, 240,0.04) 50%,rgba(29, 29, 29,0.04) 50%, rgba(29, 29, 29,0.04) 100%),radial-gradient(circle at 73% 44%, rgba(252, 252, 252,0.04) 0%, rgba(252, 252, 252,0.04) 50%,rgba(130, 130, 130,0.04) 50%, rgba(130, 130, 130,0.04) 100%),radial-gradient(circle at 72% 91%, rgba(234, 234, 234,0.04) 0%, rgba(234, 234, 234,0.04) 50%,rgba(48, 48, 48,0.04) 50%, rgba(48, 48, 48,0.04) 100%),radial-gradient(circle at 27% 3%, rgba(48, 48, 48,0.04) 0%, rgba(48, 48, 48,0.04) 50%,rgba(163, 163, 163,0.04) 50%, rgba(163, 163, 163,0.04) 100%),linear-gradient(90deg, rgb(116, 48, 82),rgb(207, 76, 172));
  }
  
@import "../node_modules/bootstrap/scss/bootstrap.scss";

